.container-custom {
  height:  100vh;
}
.container::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
.container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(54, 54, 54, 0.466); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid rgba(78, 78, 78, 0.452); /* creates padding around scroll thumb */
}
.inprogress-card {
  background: rgba(0,0,0,0.3);
  border-radius: 15px;
  border: 2.5px solid rgb(100, 206, 140);
  height: 90%;
}

.app-heading2{
    padding:  9rem 0 1rem 3rem;
    font-size: 4rem;
    font-weight: 100;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}
.app-heading3{
  padding:  0 0 3rem 3rem;
  font-size: 5rem;
  font-weight: 600;
  color: aliceblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.app-heading4{
  color: aliceblue;
  padding: 25px 0 5px 0;
  font: 200 1.9rem "Roboto";
}


.inprogress-card:hover{
  background-color: rgb(69, 131, 93);
  border-radius: 15px;
  border: 1px solid rgb(39, 39, 39);
  height: 90%;
}
.darkCard {
  opacity: 0.9;
}
.topicName {
  color: aliceblue;
  font-size: 25px;
  font-weight: 700;
}
.totalQuestion {
  color: #9b9999;
  font-weight: 700;
}
.notstarted-card {
  background-color: rgba(0,0,0,0.3);
  border-radius: 15px;
  border: 2.5px solid #aad0f6;
  height: 90%;
}

.notstarted-card:hover {
  background-color:#577797;
  border-radius: 15px;
  border: 1px solid rgb(39, 39, 39);
  height: 90%;
}

.percentDone {
  color: #9b9999;
}

.container-custom2 {
  width: 40vw;
  min-width: 290px !important;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(0.5px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.Footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  margin: 7rem 0rem 0rem 0rem;
  padding: 3rem 2rem 1rem 2rem; 
}

.centerFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
}
.centerFooter > a{
  padding: 0 19px 10px 19px;
  color: aliceblue;
  transition: all;
} 
.centerFooter > h3{
  margin: 13px;
}

.centerFooter > a:hover{
  color: rgb(127, 180, 230);
  font-size: 17px;
}

.footerText{
  text-align: center;
  color: aliceblue;
}

@media screen and (max-height: 1000px) {
  .container-custom {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  
.app-heading2{
    display: flex;
    text-align: center;
    padding:  9rem 3rem 1rem 3rem;
    font-size: 1.7rem !important;
    font-weight: 600;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}
.app-heading3{
  display: flex;
  text-align: center;
  padding:  0 3rem 3rem 3rem;
  font-size: 3rem;
  font-weight: 600;
  color: aliceblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Footer{
  margin: 5rem 0rem 0rem 0rem;
}

.footerText > h3{
  text-align: center;
  color: aliceblue;
  font-size: 24px;
}

}

@media screen and (min-width: 500px) and (max-width: 1400px) {
  .Footer{
    margin: 10rem 0rem 0rem 0rem;
  }
  
  .app-heading2{
    align-items: center;
    text-align: center;
    padding:  9rem 3rem 1rem 3rem;
    font-size: 4rem;
    font-weight: 100;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}
.footerText > h3{
  text-align: center;
  color: aliceblue;
  font-size: 24px;
}

}


